//
// Integrate Bootstrap and custom code
// ===================================

// core Bootstrap functions
@import 'vendors/bootstrap/functions';
@import 'vendors/bootstrap/mixins';

// custom variable/mixin overrides
@import 'abstracts/variables';
@import 'abstracts/mixins';
@import 'abstracts/animations';

// full Bootstrap
@import 'vendors/bootstrap/bootstrap';




//
// Add custom code base
// ====================

// @import 'base/reset';
@import 'base/base';
@import 'base/type';
// @import 'base/images';
// @import 'base/code';
@import 'base/grid';
// @import 'base/tables';
// @import 'base/content';

// overrides for core Bootstrap components first ...
@import 'components/buttons';
@import 'components/forms';
// @import 'components/dropdown';
// @import 'components/nav';
// @import 'components/navbar';
@import 'components/card';
// @import 'components/badge';
// @import 'components/jumbotron';
@import 'components/alert';
// @import 'components/progress';
// @import 'components/list-group';
@import 'components/close';
// @import 'components/modal';
@import 'components/tooltip';
// @import 'components/popover';

// ... then custom components next
@import 'components/user-guess';

@import 'layout/header';
@import 'layout/main';
@import 'layout/footer';
