.form-control,
.form-btn {

  @include media-breakpoint-up(md) {
    font-size: 1.75vw;
    padding: 2.25vw;
  }
}

.form-control::placeholder {
  font-weight: $font-weight-light;
}

.form-text {
  color: $gray-9;

  .is-invalid & {
    color: theme-color('danger');
  }

  @include media-breakpoint-up(lg) {
    font-size: 1.125vw;
  }
}

.is-invalid .form-btn {
  @extend .btn-danger;
}
