@keyframes border {
  0% { background-position: 0 0; }
  20% { background-position: 100% 0; }
  40% { background-position: 100% 100%; }
  60% { background-position: 0 100%; }
  100% { background-position: 0 0; }
}

@keyframes shake-sm {
  0%  { transform: translate(0px, 0px) rotate(0deg) }
  2%  { transform: translate(4px, -0.5px) rotate(0.5deg) }
  4%  { transform: translate(6px, -1.5px) rotate(-0.5deg) }
  6%  { transform: translate(1.5px, 1px) rotate(-0.5deg) }
  8%  { transform: translate(0px, 1px) rotate(-0.5deg) }
  10% { transform: translate(-3.5px, 0px) rotate(-0.5deg) }
  12% { transform: translate(-6.5px, 1px) rotate(1.5deg) }
  14% { transform: translate(-1.5px, -1px) rotate(1deg) }
  16% { transform: translate(1.5px, 0px) rotate(-0.5deg) }
  18% { transform: translate(0.5px, -0.5px) rotate(-0.5deg) }
  20% { transform: translate(2.5px, 0px) rotate(-0.5deg) }
  22% { transform: translate(-5.5px, -0.5px) rotate(0.5deg) }
  24% { transform: translate(1.5px, 1px) rotate(0.5deg) }
  26% { transform: translate(-3.5px, 0.5px) rotate(1deg) }
  28% { transform: translate(-6px, 1px) rotate(0.5deg) }
  30% { transform: translate(3px, -0.5px) rotate(-0.5deg) }
  32% { transform: translate(1px, -1px) rotate(0deg) }
  34% { transform: translate(-3px, 1.5px) rotate(-0.5deg) }
  36% { transform: translate(3px, -1px) rotate(-0.5deg) }
  38% { transform: translate(6px, 0px) rotate(1.5deg) }
  40% { transform: translate(1.5px, -1px) rotate(0.5deg) }
  42% { transform: translate(0.5px, -0.5px) rotate(1deg) }
  44% { transform: translate(-2px, 0.5px) rotate(-0.5deg) }
  46% { transform: translate(-4px, 1px) rotate(0.5deg) }
  48% { transform: translate(-1.5px, 0.5px) rotate(-0.5deg) }
  50% { transform: translate(2.5px, -1px) rotate(0.5deg) }
  52% { transform: translate(4px, 0.5px) rotate(1.5deg) }
  54% { transform: translate(0.5px, 0px) rotate(-0.5deg) }
  56% { transform: translate(1.5px, 0.5px) rotate(0deg) }
  58% { transform: translate(-2.5px, -1.5px) rotate(-0.5deg) }
  60% { transform: translate(-0.5px, -1px) rotate(1.5deg) }
  62% { transform: translate(2px, -0.5px) rotate(-0.5deg) }
  64% { transform: translate(-3px, 1.5px) rotate(0.5deg) }
  66% { transform: translate(1px, -1px) rotate(0deg) }
  68% { transform: translate(5px, 1px) rotate(-0.5deg) }
  70% { transform: translate(0px, -0.5px) rotate(-1deg) }
  72% { transform: translate(-3px, 0.5px) rotate(0.5deg) }
  74% { transform: translate(2px, 1px) rotate(1deg) }
  76% { transform: translate(-2.5px, -1.5px) rotate(0deg) }
  78% { transform: translate(1px, 0px) rotate(-1deg) }
  80% { transform: translate(-3px, -1.5px) rotate(-0.5deg) }
  82% { transform: translate(0px, 1px) rotate(0deg) }
  84% { transform: translate(3px, 1.5px) rotate(0.5deg) }
  86% { transform: translate(-2px, 0.5px) rotate(0.5deg) }
  88% { transform: translate(0.5px, -1.5px) rotate(0.5deg) }
  90% { transform: translate(-3.5px, 0.5px) rotate(-0.5deg) }
  92% { transform: translate(-1px, 0px) rotate(-0.5deg) }
  94% { transform: translate(2px, 1.5px) rotate(-0.5deg) }
  96% { transform: translate(4px, -0.5px) rotate(-0.5deg) }
  98% { transform: translate(-2px, 1px) rotate(0.5deg) }
}

@keyframes shake-lg {
  0%  { transform: translate(0px, 1px) rotate(0deg) }
  4%  { transform: translate(7px, -1.5px) rotate(-2.5deg) }
  8%  { transform: translate(3px, 4px) rotate(1deg) }
  12% { transform: translate(-0.5px, 10px) rotate(5deg) }
  16% { transform: translate(0.5px, 5px) rotate(2deg) }
  20% { transform: translate(3px, 2.5px) rotate(-1deg) }
  24% { transform: translate(-0.5px, 6px) rotate(-3.5deg) }
  28% { transform: translate(2.5px, 2px) rotate(0deg) }
  32% { transform: translate(9px, -2.5px) rotate(2deg) }
  36% { transform: translate(-1px, 1.5px) rotate(-0.5deg) }
  40% { transform: translate(-5.5px, -2px) rotate(1.5deg) }
  44% { transform: translate(3.5px, 5px) rotate(-3deg) }
  48% { transform: translate(-2px, 3.5px) rotate(1deg) }
  52% { transform: translate(2px, -0.5px) rotate(-2deg) }
  56% { transform: translate(-1.5px, 2px) rotate(-6deg) }
  60% { transform: translate(-4.5px, -2.5px) rotate(2.5deg) }
  64% { transform: translate(1.5px, 3.5px) rotate(4deg) }
  68% { transform: translate(4px, 0.5px) rotate(-1deg) }
  72% { transform: translate(0px, -5px) rotate(-6deg) }
  76% { transform: translate(-0.5px, 0px) rotate(3.5deg) }
  80% { transform: translate(4.5px, -2px) rotate(0deg) }
  84% { transform: translate(-2px, 5px) rotate(-2.5deg) }
  88% { transform: translate(-7px, -3px) rotate(-5deg) }
  92% { transform: translate(0px, 4px) rotate(2deg) }
  96% { transform: translate(-3px, -2.5px) rotate(-0.5deg) }
  100% { transform: translate(6px, 5px) rotate(4deg) }
}

@keyframes sonar-effect {
  0% {
    opacity: .3;
  }
  50% {
    box-shadow: 0 0 0 .125rem rgba($white, .06),
                0 0 .5rem .5rem rgba($body-bg, .75),
                0 0 0 .75rem rgba($white, .2);
    opacity: .5;
  }
  100% {
    box-shadow: 0 0 0 .125rem rgba($white, .06),
                0 0 .5rem .5rem rgba($body-bg, .75),
                0 0 0 .75rem rgba($white, .2);
    transform: scale(1.125);
    opacity: 0;
  }
}

@keyframes tada {
  from { transform: scale3d(1, 1, 1) }

  10%,
  20% { transform: scale3d(.85, .85, .85) rotate3d(0, 0, 1, -3deg) }

  30%,
  50%,
  70%,
  90% { transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg) }

  40%,
  60%,
  80% { transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg) }

  to { transform: scale3d(1, 1, 1) }
}

@keyframes point-effect {
  0%  { transform: translateX(0) }
  15% { transform: translateX(-50%) }
  20% { transform: translateX(20%) }
  30% { transform: translateX(-15%) }
  40% { transform: translateX(10%) }
  50% { transform: translateX(-5%) }
  60% { transform: translateX(4%) }
  70% { transform: translateX(-2%) }
  80% { transform: translateX(0) }
}




// @keyframes intro {
//   0%, 75% { transform: translateX(-100vw); }
//   100% { transform: translateX(0); }
// }

@keyframes fade {
  0%, 75% { opacity: 0; }
  100% { opacity: 1; }
}

@keyframes intro {
  0%, 75% {
    opacity: 0;
    transform: translateY(100vw);
  }

  95% { transform: translateY(0); }

  100% {
    opacity: 1;
    // transform: translateY(0);
  }
}
